/*Object fit*/
/*contain*/
/*cover*/
/*none*/
/*scale-down*/



*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;}

.caja1{
    margin: 25px;
    width: 300px;
    height: 400px;
}

/*contain (la imagne se ajusta al contendor) & cover (adapta a la iamgne real)*/
/*scale down()*/
.caja1 img{
    height: 100%;
    width: 100%;
    border: 6px solid  red;
    object-fit: none; /*original resolution*/
}



.caja2 img{
    flex:1 ;
    display: flex;
    margin: 4px;
    border: 6px solid  red;
    object-fit: cover; /*the content will be scaled and cropped if necessary to completely cover the container element*/
    object-position: left;

    /*Change the cursor*/
    cursor: row-resize;
}