
*{
    font-family: sans-serif;
    font-weight: 100;
}

body{
    background: radial-gradient(circle,#fff,#bbb);
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px,1fr));
    grid-template-rows: repeat(3,200px);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background-color: #333;
    grid-auto-flow: dense;

    /*ITEM*/
    justify-items: center; /*flex-end, flex-start, center*/
    align-items:center ;
}

.grid-item{
    border: 1px solid #000;
    background-color: #999;
    font-size: 30PX;
 
    padding: 30PX;
}
/*------------------------------*/

.grid-container2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3,150px);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background-color: #b63131;
    grid-auto-flow: dense;
    height: 600px;

    /*CONTENT*/
    justify-content: start; /*start, center, end*/
    align-content:start ; /*start, center, end*/
    align-items: center;
    justify-items: center;
}

.grid-item2{
    
    border: 1px solid #000;
    background-color: #999;
    font-size: 30PX;
    padding: 30PX;
}

/*------------------------------*/

.grid-container3{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background-color: #312d75;
    grid-auto-flow: dense;
    height: 600px;

    /*CONTENT*/
    justify-content: start; /*start, center, end*/
    align-content:start ; /*start, center, end*/
    align-items: center;
    justify-items: center;
}

.grid-item3{
    
    border: 1px solid #000;
    background-color: #999;
    font-size: 30PX;
    padding: 30PX;
}

.grid-item3:first-child{
    align-self: start;
    justify-self: start;
    background-color: red;
}

.grid-item3:nth-child(3){
    align-self: start;
    justify-self: end;
    background-color: red;
}

.grid-item3:nth-child(4){
    justify-self: flex-end;
}

.grid-item3:nth-child(5){
    background-color: greenyellow;
}

.grid-item3:nth-child(6){
    justify-self: flex-start;
}

.grid-item3:nth-child(7){
    align-self: flex-end;
    justify-self: start;
    background-color: red;
}

.grid-item3:last-child{
    align-self: end;
    justify-self: end;
    background-color: red;
}